* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-box {
  background: #0b0b0b;
  padding: 25px;
  width: 320px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

.input-area {
  display: flex;
  gap: 8px;
  margin-bottom: 15px;
}

input {
  flex: 1;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
}

button {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  background: #4facfe;
  color: white;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: red;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
}

.delete-btn {
  background: crimson;
  color: white;
  padding: 6px 10px;
  border-radius: 4px;
}
